/* Reset básico para tirar margens indesejadas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Fonte padrão de bancos digitais */
}

.navbar {
    width: 100%;
    padding: 20px 2%;
    background-color: #161a1e;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #161a1e;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between; /* Empurra um para cada lado */
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo {
    width: 65px;/ajustado, 1270px é muito grande para um ícone */
    height: auto;
}

.menu-right ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-right ul li {
    margin-left: 25px;
}

.menu-right ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;
}

.menu-right ul li a:hover {
    color: #161a1e;
}

/* Botão de Login destacado */
.btn-login {
    background-color: #e7d49e;
    color: white !important;
    padding: 10px 20px;
    border-radius: 25px;
}

/* Imagem Principal */
.ft-principal {
    width: 100%;
    height: auto;
    display: block;
}